.clearfix {
  clear: both;
}

body {
  background-color: #ffb933;
}

#header {
  height: 175px;
  width: 1290px;
  margin: 0 auto;
  padding: 10px;
  background-color: #3279ff;
}

.logo {
  float: left;
  margin: 20px;
  padding-left: 20px;
  text-align: center;
}

.logo h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 85px;
  margin-top: 0px;
  margin-bottom: 2px;
}

.logo p {
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.nav li {
  float: right;
  display: inline-block;
  background-color: #4cab7c;
  width: 150px;
  padding: 5px;
  padding-right: 20px;
  margin-top: 105px;
  text-align: center;
}

h2 {
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-size: 24px;
}

#main {
  position: relative;
  /*background-color: #e03c30;*/
  width: 1300px;
  height: 700px;
  margin: 30px auto;
}

.mainCategory {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  background-color: #4cab7c;
}

#tier_1 {
  margin: 100px auto 0 auto;
  width: 530px;
}

#tier_1 div {
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  background-color: #4cab7c;
}

#tier_1 :nth-child(2) {
  margin: auto 30px;
}

.tier_2 {
  margin: 100px auto;
  width: 906px;
}

.tier_2 div {
  width: 150px;
  font-size: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
  margin-right: 30px;
  font-family: 'Permanent Marker', cursive;
  background-color: #4cab7c;
}

.tier_2 div:last-child {
  margin-right: 0;
}

.tier_3 div {
  width: 150px;
  font-size: 30px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
  margin-right: 30px;
  font-family: 'Permanent Marker', cursive;
  background-color: #4cab7c;
}

.tier_3 div:last-child {
  margin-right: 0;
}

#tier_2-1 {
  position: absolute;
  top: 265px;
  left: 190px;
  height: 63px;
  width: 530px;
}

#tier_2-2 {
  position: absolute;
  top: 265px;
  left: 380px;
  height: 63px;
  width: 530px;
}

#tier_2-3 {
  position: absolute;
  top: 265px;
  left: 570px;
  height: 63px;
  width: 530px;
}

#tier_3-1 {
  position: absolute;
  top: 449px;
  height: 63px;
  width: 530px;
  /*outline: 2px dotted black;*/
  margin-top: 100px;
}

#tier_3-2 {
  position: absolute;
  left: 190px;
  top: 449px;
  height: 63px;
  width: 530px;
  /*outline: 2px dotted black;*/
  margin-top: 100px;
}

#tier_3-3 {
  position: absolute;
  left: 380px;
  top: 449px;
  height: 63px;
  width: 530px;
  /*outline: 2px dotted black;*/
  margin-top: 100px;
}

#tier_3-4 {
  position: absolute;
  left: 570px;
  top: 449px;
  height: 63px;
  width: 530px;
  /*outline: 2px dotted black;*/
  margin-top: 100px;
}

#tier_3-5 {
  position: absolute;
  left: 760px;
  top: 449px;
  height: 63px;
  width: 530px;
  /*outline: 2px dotted black;*/
  margin-top: 100px;
}

#results a {
  background-color: #4cab7c;
}

#results {
  position: absolute;
  top: 665px;
  left: 445px;
}

#refresh {
  width: 196px;
  color: black;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 15px;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  padding: 10px 15px;
  border-radius: 15px;
  font-family: 'Permanent Marker', cursive;
  font-size: 20px;
}

li {
  margin-right: 30px;
}

li a {
  border: none;
}

#footer {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-size: 18px;
  text-align: center;
  width: 1290px;
  margin: auto;
  padding: 5px;
  background-color: #3279ff;
}
