
@font-face {
  font-family: 'Permanent Marker', cursive;
    src: url ("https://fonts.googleapis.com/css?family=Permanent+Marker");
  font-family: 'Courgette', cursive;
    src: url("https://fonts.googleapis.com/css?family=Courgette");
}

body {
  background-color: #000;
  margin: auto;
}

/*header*/
header {
  width: 100%;
  height: 300px;
  color: #494949;
  background-color: #ffa700;
  margin-top: 0px;
  padding-left: 100px;
}

#app-name {
  font-size: 60pt;
  padding-top: 75px;
}

#tagline {
  font-family: 'Permanent Marker', cursive;
  font-size: 52pt;
}

/*main page*/

#main {
  position: relative;
  background-color: #494949;
  width: 1290px;
  margin: auto;
  padding-top: 50px;
}

/*text settings*/

h1 {
  font-family: 'Permanent Marker', cursive;
}

h2, h3, h4, h5, h6 {
  font-family: 'Courgette', cursive;
  color: #fff;
  margin-left: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

p {
  font-family: "Helvetica", "Verdana", "Open Sans", san-serif;
  color: #fff;
  margin-left: 75px;
}

.index-buttons a {
  style: none;
  color: #fff;
}

/* index page button settings -- Ids can be added or changed if needed */

button {
  width: 400px;
  min-height: 50px;
  font-family: 'Oleo Script', cursive;
  font-size: 28px;
  color: #fff;
  border-radius: 15px;
  margin-right: 20px;
}

button:first-child {
  margin-left: 20px;
}

#learning {
  background-color: #008744;
}

#arts {
  background-color: #d62d20;
 }

#sports {
  background-color: #0057e7;
  }


/* catagory pages  */

.mainCategory {
  width: 200px;
  margin: 0 auto;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
}

#tier_1 {
  margin: 100px auto;
  width: 530px;
}

#tier_1 div {
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
}

#tier_1 :nth-child(2) {
  margin: auto 30px;
}

.tier_2 {
  margin: 100px auto;
  width: 906px;
}

.tier_2 div {
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
  margin-right: 30px;
}

.tier_2 div:last-child {
  margin-right: 0;
}

.tier_3 {
  margin: 100px auto;
  width: 1282px;
}

.tier_3 div {
  width: 150px;
  text-align: center;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-block;
  margin-right: 30px;
}

.tier_3 div:last-child {
  margin-right: 0;
}

#tier_2-1 {
  position: absolute;
  left: 190px;
  height: 63px;
  width: 530px;
  outline: 2px dotted black;
}

#tier_2-2 {
  position: absolute;
  left: 380px;
  height: 63px;
  width: 530px;
  outline: 2px dotted black;
}

#tier_2-3 {
  position: absolute;
  left: 570px;
  height: 63px;
  width: 530px;
  outline: 2px dotted black;
}
