@font-face {
  font-family: 'Permanent Marker', cursive;
    src: url ("https://fonts.googleapis.com/css?family=Permanent+Marker");
  font-family: 'Courgette', cursive;
    src: url("https://fonts.googleapis.com/css?family=Courgette");
}
